<div class="col-xs-12 col-sm-6 col-md-4 wrapper">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <button  class="icon pull-left chevron">
                        <i class="material-icons" (click)="collapse = !collapse">{{ collapse ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</i>
                    </button>
                    {{note.title}}
                    <button class=" icon pull-right delete" (click) = "onDelete( )">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="icon pull-right edit" (click) = "onEdit( )">
                        <i class="material-icons">create</i>
                    </button>
                </h4>
            </div>
            <div  class="panel-collapse" [ngClass]="{'collapse':collapse, 'collapse-in':collapse}">
                <div class="panel-body">
                    <p class="note__text">{{note.text}}</p>
                </div>
                <div class="panel-footer">
                    <p class="note__date">create date:{{note.date | date:'medium' }}</p>
                    <p *ngIf="note.lastModDate" class="note__date">modify date:{{note.lastModDate | date:'medium' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

