<div class="col-xs-12 col-sm-4 col-md-3 wrapper">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="pull-left">
                        <i class="material-icons" (click)="collapse = !collapse">{{ collapse ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</i>
                    </span>
                    {{note.title}}
                    <span class="pull-right delete" (click) = "onDelete( )">
                        <i class="material-icons">delete</i>
                    </span>
                    <span class="pull-right edit" (click) = "onEdit( )">
                        <i class="material-icons">create</i>
                    </span>
                </h4>
            </div>
            <div  class="panel-collapse" [ngClass]="{'collapse':collapse, 'collapse-in':collapse}">
                <div class="panel-body">
                    <p>{{note.text}}</p>
                    <p>create date:{{note.date | date:'medium' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>