<div class="col-xs-offset-3 col-xs-6 text-center">
    <h2>{{note.title ? "Edit note" : "Create new Note"}}

    </h2>
    <form class="col-xs-12" (ngSubmit) = "onSubmit()"  #editForm="ngForm" >
        <div class="form-group">
            <button class=" icon pull-right delete" (click)="closeForm()">
                <i class="material-icons">highlight_off</i>
            </button>
        </div>
        <div *ngIf="error" class="alert alert-danger">
            errortext
        </div>
        <div class="form-group">
            <label>Note name</label>
            <input class="form-control" type="text" title="Input name for note" name="title" [(ngModel)]="note.title" #title="ngModel" required pattern=".{4,}" >

            <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                name not valid
            </div>
        </div>
        <div class="form-group">
            <label>Note text</label>
            <textarea class="form-control"  title="Input name for note" name="text" [(ngModel)]="note.text" #text="ngModel" required rows="10" >
            </textarea>
        </div>
        <div class="pull-right">
            <button  type="submit"  [disabled]="editForm.form.invalid" class="icon edit"><i class="material-icons">done</i></button>
        </div>
    </form>
</div>
