
<div class="row">
    <div class="col-xs-3 wrapper" *ngFor="let user of users">
        <!--<div class="col-xs-6 text-right">-->
            <!--<img src="{{user.picture.large}}" alt="">-->
        <!--</div>-->
        <div class="col-xs-6">
            <!--<p>{{user.name.title+": "+user.name.first+" "+user.name.last}}</p>-->
            <!--<p>{{user.email}}</p>-->
            <!--<p>{{user.phone}}</p>-->
            <!--<p>{{user.location.city}}</p>-->
            <p>{{user.name}}</p>
        </div>
    </div>

</div>
