@import url( "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url( "https://fonts.googleapis.com/icon?family=Material+Icons");
button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.3);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button.icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

button[disabled] {
    color: rgba(0,0,0,.26);
    cursor: default;
    background-color: transparent;
}
.panel-heading h4{
    line-height: 30px;
}
form{
    padding:0 20px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.note__text{
    white-space: pre-wrap;
}
.note__date{
    margin-bottom:0;
    font-size:12px;
    font-weight: bold;
}
.icon.chevron{
    color: #3663a9;
}
.icon.chevron:hover{
    color: #5199ff;
}
.icon.edit{
    color: #13834b;
}
.icon.edit:hover{
    color: #1cdf21;
}
.icon.delete{
    color: #8d3826;
}
.icon.delete:hover{
    color: #d81c06;
}